@import "tailwindcss";

/* Add this at the very end of src/index.css */

@media print {
  @page {
    margin: 0;
  }
  .no-print {
    display: none !important;
  }
  body, #root > div {
    display: block;
  }
  main {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  main > div {
    box-shadow: none !important;
    border: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}